/* To control the style of the overall table class */
table {
  border: 0.0625em solid black;
  text-align: center;
  table-layout: fixed;
  border-collapse:collapse;
  empty-cells: show;

}

th, td {

  border: 0.0925em solid black;
  width: 8.75em;
  height: 2.1875em;
}

/* Settings for Days row */
.tableDays {
  width: 18.75em;
  background-color: #071833;
  color: white;
}

/* Settings for Employee column */
.tableEmployees {
  line-height: 2.1875em;
  width: 39.5%;
  background-color: #071833;
  color: white;
}

/* Settings for Tasks table */
.tableTasks {
  width:200%;

  empty-cells: show;
  height:62.5em;
  line-height: 2.1875em;



  width: 6.25em;
}

.empTaskCont {
  height: 31.25em;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding-bottom: 1.875em;
}

#table-wrapper-days {
  position: relative;
  width: 97.8em;
  //margin-left: .9125em;
  /*float:right;*/
}

#table-scroll-days {
  height: auto;
  overflow-x: hidden;
}

#table-wrapper-employees {
  position: relative;
  float:left;
  width:18%;
  height:100%;

  margin-right: -115px;
}

#table-scroll-employees {
  width: 25em;
  display:inline-flex;
  max-height: 38.625em;
  overflow-y: scroll;
  overflow-y: hidden;
  margin-right: -50px;
}

#table-wrapper-tasks {
 position: relative;
  width:82%;
  float:left;
  margin-right: 100px;;


}

#table-scroll-tasks {
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 38.625em;
  margin-right: -105px;
  overflow-x: hidden;
  overflow-y: hidden;
}
