table {
  position: relative;
  width: auto;
  overflow: hidden;
  border-collapse: collapse;
}
html, body{
  height: 100%;
  width: 100%;
}


/*thead*/
thead {
  position: relative;
  display: block; /*seperates the header from the body allowing it to be positioned*/
  width: 1535px;
  overflow: visible;
  border: 1px solid black;
}

thead th {
  min-width: 139px;
  max-width: 140px;
  height: 35px;
}

thead th:nth-child(1) {/*first cell in the header*/
  position: relative;
display:float;
  background-color: #071833;
}


/*tbody*/
tbody {
  position: relative;
  display: block; /*seperates the tbody from the header*/
  width: 1535px;
  height: 475px;
  overflow: scroll;
}

tbody td {
  background-color: white;
  min-width: 140px;
  border: 1px solid #222;
}

tbody tr td:nth-child(1) {  /*the first cell in each tr*/
  position: relative;
  display: block; /*seperates the first column from the tbody*/
  height: 40px;
}

.dragscroll {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: 0;

}
.days,.employ {
  background-color: #071833;
  color: white;
  text-align: center;
}
#days, #emp{
background-color: #071833;
color: white;
}
